@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
  font-family: 'Kanit', sans-serif;
}
nav.navbar {
  padding: 0px 0px;
  vertical-align: baseline;
}
#id-btn-uname {
  display: inline;
  vertical-align: middle;
}
#id-btn-uname.dropdown-toggle::after {
  content: none;
}
#id-btn-bell.dropdown-toggle::after {
  content: none;
}
.dropdown-menu-ul.dropdown-menu {
  min-width: 140px;
  max-width: 140px;
  width: 100%;
  margin-left: 12%;
  margin-right: 12%;
}
div.dropdown-user:Hover .dropdown-menu {
  display: block;
}
div.dropdown-user:focus .dropdown-menu {
  display: block;
}
.logo {
  font-size: 28px;
  font-weight: semi bold;
  color: rgba(84, 37, 21, 1);
  padding: 0px 0px;
  /* margin-right: 120px; นำข้อความ I-Van ออก */
}
.img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.fontNav {
  font-size: 18px;
  font-weight: semi bold;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-item .nav_link_text{
  color: rgba(84, 37, 21, 1);
  padding: 0px 25px 0px 25px;
  text-align: center;
}
@media only screen and (min-width: 1199px) and (max-width: 1624px) {
  .navbar-light .navbar-nav .nav-item .nav_link_text{
    padding: 0px 10px 0px 10px;
    font-size: 17px;
  }
  #id-btn-uname {
    font-size: 17px;
  }
  a.logo {
    font-size: 21px;
  }
  li a.usrlist {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1199px) and (max-width: 1362px) {
  .navbar-light .navbar-nav .nav-item .nav_link_text{
    padding: 0px 7px 0px 7px;
    font-size: 15px;
  }
  #id-btn-uname {
    font-size: 15px;
  }
  a.logo {
    font-size: 19px;
  }
  li a.usrlist {
    font-size: 15px;
  }
}
@media (min-width: 1215px) {
	.navbar-expand-xxl {
		flex-wrap:nowrap;
		justify-content:flex-start;
	}
	.navbar-expand-xxl .navbar-nav {
		flex-direction:row;
	}.navbar-expand-xxl .navbar-nav .dropdown-menu {
		position:absolute;
	}
	.navbar-expand-xxl .navbar-nav .nav-link {
		padding-right:.5rem;
		padding-left:.5rem;
	}
	.navbar-expand-xxl .navbar-nav-scroll {
	overflow:visible;
	}
	.navbar-expand-xxl .navbar-collapse {
		display:flex!important;
		flex-basis:auto;
	}
	.navbar-expand-xxl .navbar-toggler {
		display:none;
	}
	.navbar-expand-xxl .offcanvas-header {
		display:none;
	}
	.navbar-expand-xxl .offcanvas {
		position:inherit;
		bottom:0;z-index:1000;
		flex-grow:1;
		visibility:visible!important;
		background-color:transparent;
		border-right:0;
		border-left:0;
		transition:none;
		transform:none
	}
	.navbar-expand-xxl .offcanvas-bottom,.navbar-expand-xxl .offcanvas-top {
		height:auto;
		border-top:0;
		border-bottom:0
	}
	.navbar-expand-xxl .offcanvas-body {
		display:flex;
		flex-grow:0;
		padding:0;
		overflow-y:visible;
	}
}
a.nav-link{
  text-decoration: none;
  color: rgba(84, 37, 21, 1);
  text-align: center;
}
a.nav-link:hover{
  text-decoration: none;
  color: rgba(84, 37, 21, 1);
}
a.nav-link:focus{
  text-decoration: none;
  color: rgba(84, 37, 21, 1);
  }
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
.nav-fix-width{
  margin: 20px 10% 20px 10%;
}
a.button-regis {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.button-regis:hover,
a.button-regis:focus {
  background-color: rgba(255, 102, 51, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
}
a.button-regis:hover {
  transform: translateY(-1px);
}
a.button-regis:active {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(255, 102, 51, 1) 1px 1px 1px 1px;
  transform: translateY(0);
  color: rgba(255, 102, 51, 1);
}
a.button-login {
  align-items: center;
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: #fa6400 0px 1px 0px 1px;
  box-sizing: border-box;
  color: #fa6400;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2.8rem;
  padding: 0px 25px 0px 25px;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.button-login:hover,
a.button-login:focus {
  background-color: #ffffff;
  box-shadow: #fa6400 0 2px 4px;
  color: #fa6400;
}
a.button-login:hover {
  transform: translateY(-1px);
}
a.button-login:active {
  background-color: rgba(255, 102, 51, 1);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
  color: #fff;
}
.usrlist {
  text-decoration: none;
}
.dropdown-menu-ul-bell.dropdown-menu{
  min-width: 250px;
  max-width: 250px;
  width: 100%;
}
#id-btn-bell {
  padding-top: 15px;
  padding-right: 0px;
  
}
button.btn-logreg-confirm {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button.btn-logreg-confirm:Hover {
  background-color: #ffffff;
  box-shadow: #fa6400 0 2px 4px;
  color: #fa6400;
}
button.btn-logreg-cancel {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(255, 245, 245);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(255, 21, 21);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button.btn-logreg-cancel:Hover {
  background-color: #ffffff;
  box-shadow: #ff1717 0 2px 4px;
  color: #ff1717;
}
a.btn-logreg-cancel {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(255, 245, 245);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(255, 21, 21);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.btn-logreg-cancel:Hover {
  background-color: #ffffff;
  box-shadow: #ff1717 0 2px 4px;
  color: #ff1717;
}

.dropdown-header-content a {
  color: black;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-in;
}
.dropdown-custom-nav:hover .usrnametitle{
  cursor: default;
}
a.usrnametitle {
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}
a.usrlist {
  text-align: left;
  padding: 4px 0px 4px 15px;
  font-size: 16px;
}
a.usrlist:hover {
  background-color: rgb(214, 214, 214);
}
.dropdown-header-content {
  position: absolute;
  min-width: 136px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: white;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}
.dropdown-custom-nav:hover .dropdown-header-content {
  display: block;
  cursor: pointer;
  /* เพิ่มรายการตรง Dropdown User Name */
  max-height: 500;
  transition: max-height 0.3s ease-in;
}
.dropdown-header-none {
  display: none;
  position: absolute;
  min-width: 136px;
  z-index: 1;
  overflow: hidden;
  padding-top: 15px;
  margin-left: 10px;
}
.dropdown-custom-nav:hover .dropdown-header-none {
  display: block;
  cursor: pointer;
}
@media only screen and (max-width: 1214px) {
  .dropdown-header-content
  {
    left: 40%;
    right: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .dropdown-header-content
  {
    left: 20%;
    right: 20%;
  }
}