/*
Main
*/
.swal-footer { text-align: center; }
.hide-selected { display: none; }
.ivan-hidden { display: none; }
body {
  overflow: overlay;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 225, 161);
  border: 0px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
body::-webkit-scrollbar {
  width: 15px;
  display: block;
}
.nontification_icon {
  cursor: pointer;
}
/*
Font Size
*/
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
.fs21 { font-size: 21px; }
.fs22 { font-size: 22px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
.fs21 { font-size: 21px; }
.fs22 { font-size: 22px; }
.fs23 { font-size: 23px; }
.fs24 { font-size: 24px; }
.fs25 { font-size: 25px; }
.fs26 { font-size: 26px; }
.fs27 { font-size: 27px; }
.fs28 { font-size: 28px; }
.fs29 { font-size: 29px; }
.fs30 { font-size: 30px; }

/*
Color Code
*/
.txt-color-1 { color: #542515; }
.txt-color-2 { color: #FFDED3; }
.txt-color-3 { color: #FF6633; }
.txt-color-4 { color: #F45D08; }
.txt-color-5 { color: #A68D8D; }

/*
Background
*/
.bg-pink-1 { background-color: #FFDED3;}
.bg-gray-1 { background-color: #E8E8E8; }

/*
Font Type
*/
.text-bold { font-weight: bold; }
.text-normal { font-weight: normal; }
.unlink { text-decoration: none; }
.unlink:hover { text-decoration: none; }
.selected-gray { color: gray; }
.selected-black { color: black; }
.txt-left { text-align: left; }
.crop { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100px; }
tr td.clear-border { border: 0px solid transparent; }

/*
Index
*/
.backgroundweb { 
    background-image:linear-gradient(0deg, rgba(253.93750101327896, 213.73073369264603, 153.4205675125122, 1) 0%, rgba(233.7500050663948, 221.4976081252098, 197.7135443687439, 0.11999999731779099) 100%) ;
    width: 100%;
    height: 100%;
    position: relative;
}
.fontCompany-lg { 
  color: rgba(84, 37, 21, 1);
  font-size: 56px;
    position: relative;
    top: 237px;
}
.fontCompany-ms { 
    color: rgba(84, 37, 21, 1);
    font-size: 30px;
    position: relative;
    top: 253px;
}
.button-seetable {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button-seetable:hover,
.button-seetable:focus {
  color: white;
  background-color: rgba(255, 102, 51, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.button-seetable:hover {
  transform: translateY(-1px);
}
.button-seetable:active {
  background-color:rgba(255, 102, 51, 1) ;
  box-shadow: rgb(255, 187, 99)2px 2px 2px 2px;
  transform: translateY(0);
  color: rgb(255, 255, 255);
}
.tabcard { 
  box-shadow:0px 4px 4px rgba(255, 102.00000151991844, 51.00000075995922, 1);
  background-color:rgba(255, 255, 255, 1);
  width: 80%;
  margin: 22% auto 0px auto;  
  padding: 20px 20px 20px 20px;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
.Topwhy { 
  color:rgb(117, 66, 49);
  text-align:center;
  font-size:48px;
  margin-top: 10%;
}
.index-img-arrow {
  width: 100px;
}
@media only screen and (max-width: 1530px) {
  .tabcard {
    margin: 30% auto 0px auto;
  }
}
@media only screen and (max-width: 1200px) {
  .Topwhy { 
    font-size:44px;
    margin-top: 15%;
  }
}
@media only screen and (max-width: 1130px) {
  .tabcard {
    margin: 40% auto 0px auto;
  }
  .fontCompany-lg { 
    font-size: 44px;
    top: 200px;
  }
  .fontCompany-ms { 
  font-size: 30px;
  top: 220px;
  }
}
@media only screen and (max-width: 1000px) {
  .Topwhy { 
    font-size:40px;
    margin-top: 20%;
  }
}
@media only screen and (max-width: 820px) {
  .tabcard {
    margin: 50% auto 0px auto;
  }
  .fontCompany-lg { 
    font-size: 32px;
    top: 200px;
  }
  .fontCompany-ms { 
  font-size: 22px;
  top: 220px;
  }
  .Topwhy { 
    font-size:30px;
    margin-top: 20%;
  }
}
@media only screen and (max-width: 610px) {
  .tabcard {
    margin: 60% auto 0px auto;
  }
  .fontCompany-lg { 
    font-size: 22px;
    top: 160px;
  }
  .fontCompany-ms { 
    font-size: 16px;
    top: 180px;
  }
  .Topwhy { 
    font-size:25px;
    margin-top: 20%;
  }
  .index-img-arrow {
    width: 80px;
  }
}
@media only screen and (max-width: 530px) {
  .tabcard {
    margin: 70% auto 0px auto;
  }
}
@media only screen and (max-width: 450px) {
  .Topwhy { 
    font-size:20px;
    margin-top: 25%;
  }
  .index-img-arrow {
    width: 60px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .tabcard {
    margin: 80% auto 0px auto;
  }
}
.tabcard_des { 
  box-shadow:0px 2px 5px rgba(255, 102.00000151991844, 51.00000075995922, 1);
  background-color:rgb(255, 255, 255);
  width: 100%;
  margin: 8% auto 0px auto;
  padding: 20px 18% 20px 18%;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
.dropdowncard {
  position: relative;
  margin-top: 15px;
  width: 300px;
  height: 50px;
}

.dropdowncard::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdowncard.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.dropdowncard input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 12px 20px;
  border-radius: 10px;
}

.dropdowncard .options {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.dropdowncard.active .options {
  display: block;
}
.dropdowncard .options div {
  padding: 12px 20px;
  cursor: pointer;
}
.dropdowncard .options div:hover {
  background: #ffc08d;
  color: #fff;
}
.dropdowncard .options div ion-icon {
  position: relative;
  top: 4px;
  font-size: 1.2em;
  margin-right: 10px;
}
div p.arrow-center{
  margin: 0px 0px;
  vertical-align: middle;
}
.inx-img-van {
  width: 80%;
  text-align: center;
  background-position: center ;
}
.subtopic { 
  color: #455880;
  position:relative;
  text-align:left;
  font-size:20px;
  font-weight: bold;
  margin-bottom: 0px;
  line-height:50px;
}

.subtopic1 { 
  color:#455880;
  position:relative;
  text-align: left;
  font-size:16px;
  font-weight: normal;
  line-height: 26px;
}
.contain {
  padding: 3% 10%;
}
.inx-mg-hr {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3px;
  color: #542515;
  opacity: 1;
}
.inx-div-imgvan {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.inx-middle-txt {
  vertical-align: middle;
}
.button-seetable1 {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  justify-content: center;
  line-height: 0.25;
  margin: 0;
  min-height: 2rem;
  padding: 16px 50px 16px 50px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button-seetable1:hover,
.button-seetable1:focus {
  color: white;
  background-color: rgba(255, 102, 51, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.button-seetable1:hover {
  transform: translateY(-1px);
}
.button-seetable1:active {
  background-color:rgba(255, 102, 51, 1) ;
  box-shadow: rgb(255, 187, 99)2px 2px 2px 2px;
  transform: translateY(0);
  color: rgb(255, 255, 255);
}
.index-font-txt {
  font-size: 16px;
}
@media only screen and (max-width: 400px) {
  .index-font-txt {
    font-size: 13px;
  }
}

/*
Login
*/
.logreg-txt {
  color: #542515;
  font-size: 27px;
}
.logreg-label-txt {
  text-align: right;
  color: #542515;
  font-size: 16px;
}
.cb-rememberme-txt {
  color: #542515;
  font-size: 16px;
}
.cb-rememberme {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 10px;
}
.unaccount-txt {
  color: #a8593f;
  font-size: 16px;
}
.unaccount-link {
  text-decoration: underline;
  color: #a8593f;
}
.unaccount-link:Hover {
  color:#542515;
}
.cb-acceptrule-txt {
  color: #542515;
  font-size: 16px;
  display: inline;
}
.cb-acceptrule {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 10px;
}
.acceptrule-txt {
  color: #a8593f;
  font-size: 16px;
}
.acceptrule-link {
  text-decoration: underline;
  color: #a8593f;
}
.acceptrule-link:Hover {
  color:#542515;
}
.forgot-pwd-txt {
  color: #da7e5f;
  font-size: 18px;
  text-decoration: none;
}
.forgot-pwd-txt:Hover {
  color: #542515;
}
button.btn-logreg-confirm {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button.btn-logreg-confirm:Hover {
  background-color: #ffffff;
  box-shadow: #fa6400 0 2px 4px;
  color: #fa6400;
}
.fb {
  background-color: #3B5998;
  color: white;
}
.btn-fb {
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.90;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
.btn-fb:hover {
  color: white;
  opacity: 1;
}
.fb-btn-d {
  display: block;
}
.fb-btn-m {
  display: none;
}
@media only screen and (max-width: 575px) {
  .logreg-label-txt {
    text-align: left;
  }
  .fb-btn-d {
    display: none;
  }
  .fb-btn-m {
    display: block;
  }
}

/*
Register
*/
.del-hr-model {
  border-bottom: none;
}
.reg-model-content {
  background-color: #ffffff;
  border-radius: 20px;
}
.reg-mt-dialog {
  margin-top: 10%;
}

/*
Reservation
*/
.back2{
  position: relative;
}
.fontCompany2 { 
  color: rgba(84, 37, 21, 1);
  
  position: relative;
  margin: 5% 0% 0% 0%;
}
.tabcard3 { 
  box-shadow:0px 4px 4px rgb(255, 235, 228);
  /* background: rgba(255, 235, 228, 1); */
  background: rgba(255, 222, 211, 1);
  vertical-align: baseline;
  margin: 5% auto 0px auto;
  padding: 1% 1% 1% 1%;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  
}
.card-title1{
  background: rgba(255, 222, 211, 1);
  padding: 2% 0% 2% 2%;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
 
}
.card-title2{
  background: rgba(255, 222, 211, 1);
  padding: 2% 0% 2% 2%;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
 
}
.crad1{
  box-shadow: 0px 4px 4px rgba(255, 222, 211, 1);
  border-radius: 10px;
  padding: 0% 0% 2% 0%;

  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
.crad2{
  box-shadow: 0px 4px 4px rgba(255, 222, 211, 1);
  border-radius: 10px;
  padding: 0% 0% 2% 0%;

  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
.crad3{
  box-shadow: 0px 4px 4px rgba(255, 222, 211, 1);
  border-radius: 10px;
  padding: 0% 0% 2% 0%;

  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
.crad4{
  box-shadow: 0px 4px 4px rgba(255, 222, 211, 1);
  border-radius: 10px;
  padding: 0% 0% 2% 10%;

  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
.button-submit {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0px 0px 0px 0px;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.button-cancel {
  align-items: center;
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: #fa6400 0px 1px 0px 1px;
  box-sizing: border-box;
  color: #fa6400;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0px 0px 0px 50px;
  min-height: 2.8rem;
  padding: 0px 25px 0px 25px;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.reserve-font-txt {
  font-size: 16px;
}
.reserve-font-pd {
  padding-right: 60px;
}
@media only screen and (max-width: 1140px) {
  .reserve-font-pd {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .reserve-font-txt {
    font-size: 12px;
  }
  .reserve-font-pd {
    padding-right: 12px;
  }
}

/*
Table_Reservation
*/
table.tb-res-table {
  border-collapse: collapse;
  border: 1px solid #dad7d7;
  text-align: center;
  width: 100%;
}
tr.tr-color-tbre {
  background-color: #FFDED3;
  border: 1px solid #f7f2f2;
}
td.tb-res-td {
  border-bottom: 1px solid #dad7d7;
  text-align: center;
  padding: 8px;
}
th.tb-res-th {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even).bg {
  background-color: #ffffff;
}
div.tb_rs_fix_radio {
  padding-left: 0px;
}

/*
His_Reservation
*/
div.his-res-table {
  border-collapse: collapse;
  border: 1px solid #dad7d7;
  text-align: center;
  width: 100%;
}
div.his-radius-td-1 {
  border-radius: 10px 0px 0px 10px;
}
div.his-radius-td-2 {
  border-radius: 0px 10px 10px 0px;
}
.his-font-txt {
  font-size: 16px;
}
@media only screen and (max-width: 400px) {
  .his-font-txt {
    font-size: 11px;
  }
}
/*
Payment
*/
.payment-tabcard-des { 
  box-shadow:0px 2px 5px rgba(255, 102.00000151991844, 51.00000075995922, 1);
  background-color:rgb(255, 255, 255);
  width: 100%;
  margin: 8% auto 0px auto;
  padding: 20px 5% 20px 5%;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
table.pm-table {
  border: 1px solid #ffd2d2;
}
th.pm-th {
  background-color: #ffece7;
  padding: 10px 0px 10px 30px;
  text-align: left;
  font-weight: normal;
}
th.pm-th-bank {
  background-color: transparent;
  color: #a8593f;
  font-weight: bold;
  padding: 10px 0px 10px 30px;
  text-align: left;
}
td.pm-td {
  padding: 10px 60px 10px 0px;
  text-align: right;
  font-weight: normal;
}
td.pm-td-input {
  padding: 10px 0px 10px 0px;
  text-align: left;
  font-weight: normal;
}
table.pm-del-border {
  border-bottom: none;
}
table.pm-del-top {
  border-top: none;
}

/*
profile
*/
a.btn-logreg-confirm {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.btn-logreg-confirm:Hover {
  background-color: #ffffff;
  box-shadow: #fa6400 0 2px 4px;
  color: #fa6400;
}
img.profile-user-profile {
  border-radius: 50%;
}
.pf-font-text{
  font-size: 16px;
}
@media only screen and (max-width: 400px) {
  .pf-font-text{
    font-size: 13px;
  }
}

/*
Edit Profile
*/
#profile_choosefile {
  margin-top: 0px;
}

/*
Booking_details
*/
.fontCompany-bd { 
  color: rgba(84, 37, 21, 1);
  font-size: 30px;
  position: relative;
}
.fluid-bd{
  box-shadow:0px 4px 4px 4px rgba(255, 102, 51, 0.71);
  width:80%;
  vertical-align: baseline;
  margin: 5% auto 0px auto;
  padding: 30px 0px 5% 1%;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
.card-title-bd{
  background: #FFF4F0;
  width:100%;

  margin: 0px auto 0px auto;
  padding: 0px 0px 2% 0px;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
}
.card-bd{
  box-shadow:0px 4px 4px 4px #AFAFAF;
  width:85%;
  vertical-align: baseline;
  margin: 5% auto 0px auto;
  padding: 0px 0px 5% 0px;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
  font-size: 16px;
}
@media only screen and (max-width: 991px) {
  .card-bd {
    font-size: 13px;
  }
  .tk-txt-code {
    display: none;
  }
}
.card-body-bd{
  vertical-align: baseline;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px ;
}
a.button-submit {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 0px 0px 0px;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.bd-align {
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .bd-align {
    text-align: center;
    padding-top: 20px;
  }
}

/* 
Check_Reservation
*/
.row-check_re{
  font-size: 16px;
}
.check-re-font
{
  font-size: 16px;

}
@media only screen and (max-width: 768px) {
  .check-re-font
  {
    font-size: 13px;
  }
  .row-check_re{
    font-size: 9px;
  }
}
.card-header-check-re
{
    border-radius: 14px;
    background-color: #FFF4F0;
    text-align: left;
}

.text-data 
{
    margin: 30px;
    text-align: left;
}

/*
Report
*/
.input-report {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.icon-heed {
  border-radius: 5px;
  border: solid 1px rgb(221, 221, 221);
  padding: 10px;
  background: rgb(230, 230, 230);
  color: Black;
  min-width: 50px;
  text-align: center;
}
.input-fieldd {
  border-radius: 5px;
}
.fa-window-close{
  margin: 0% 0% 0% 100%;
}
.comp-font-text{
  text-align: right;
}
@media only screen and (max-width: 575px) {
  .comp-font-text{
    text-align: left;
  }
}

/*
Policy
*/
.tabcard-policy { 
  box-shadow:0px 4px 4px rgba(255, 102.00000151991844, 51.00000075995922, 1);
  background-color:rgba(255, 255, 255, 1);
  width: 80%;
  margin: 8% auto 0px auto;
  padding: 20px 20px 20px 20px;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
}
@media only screen and (max-width: 1530px) {
  .tabcard-policy{
    margin: 10% auto 0px auto;
  }
}

.text-top-policy{
  text-align: center;
  color: #542515;
  font-size: 27px;
  font-weight: 30px;
}
/*
Confirm-OTP
*/
input.btn-logreg-confirm {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
input.btn-logreg-confirm:Hover {
  background-color: #ffffff;
  box-shadow: #fa6400 0 2px 4px;
  color: #fa6400;
}